@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a857d;
  /* stylelint-disable-next-line color-hex-length */
  background-image: linear-gradient(315deg, #665c5c 0%, #3e3e3d 74%);
}
